extends layout.pug
include mixins/video

block content
    h2 new trending videos
    ul
        each video in videos 
            +video(video)
        else   
            li Nothing found.
            